body {

	margin: 0px;

}

h1, h2, h3 {
font-family: 'Michroma', sans-serif;
}

.friend {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:-4px;
	border:4px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	
	margin: 3px;
padding: 10px;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.classname:active {
	position:relative;
	top:1px;
}


.friend {}
	.friend img{
		-webkit-border-top-left-radius:5px;
		-moz-border-radius-topleft:5px;
		border-top-left-radius:5px;
		-webkit-border-top-right-radius:5px;
		-moz-border-radius-topright:5px;
		border-top-right-radius:5px;
		-webkit-border-bottom-right-radius:5px;
		-moz-border-radius-bottomright:5px;
		border-bottom-right-radius:5px;
		-webkit-border-bottom-left-radius:5px;
		-moz-border-radius-bottomleft:5px;
		border-bottom-left-radius:5px;

		border:2px solid White;
		color:#ffffff;
	
		margin: 2px;
	}
	button.friend .ui-icon-closethick{
	
		top: 10px;
		left: 5px;
	}


 #feedback { font-size: 1.4em; }
  #calendar_selector .ui-selecting { background: #FECA40; }
  #calendar_selector .ui-selected { background: #F39814; color: white; }
  #calendar_selector { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #calendar_selector li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  
  
  
  
  /*google sign in button */
      #googleBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 165px;
      border-radius: 5px;
      white-space: nowrap;
      cursor: pointer;
    }
    #googleBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('btn_red.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 35px;
      border-right: #bb3f30 1px solid;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }
  
  
  
  /*styled select element */
  .custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}

.custom-dropdown__select{
	font-size: inherit; /* inherit size from .custom-dropdown */
	padding: .5em; /* add some space*/
	margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
	background-color: #fff;
	color: #444;    
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.custom-dropdown__select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;    
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; margin-top: -.5em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white::before {
		top: .5em; bottom: .5em;
		background-color: #fff;
		border-left: 1px solid rgba(0,0,0,.1);
	}

	.custom-dropdown--white::after {
		color: rgba(0,0,0,.9);
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}



/*calendar selector */
.ui-menu { position: absolute; width: 300px; }


button.ui-state-default{
border: 2px solid #EBF5D0;
background: #83A132;
font-weight: normal;
color: #ffffff;
}

a.ui-state-focus{

	background: red;
}

#calendar_options{
	background: yellow;
}

input {

font-family: arial, verdana, sans-serif;
font-size: 15px !important;
color: #666;
width: 160px;
padding: 6px;
border: 1px solid #d5dccf;
border-radius: 4px;
box-shadow: inset 0 1px 3px rgba(0,0,0,.15);

}

body {
background-size: 50px 50px;
background-color: #ac0;
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
-pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                 transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                 transparent 75%, transparent) 0 0 / 50px 50px #ac0;
behavior: url(/PIE/PIE.htc);
}

/*
.step {
	background: White;
	margin-left: 200px;
}
*/

#content{
	color: #C1E856;
	color: #B0B89A;
	background: White;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 150px;
	right: 0;
	/*padding: 50px;*/
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow: auto;

color: #1e1e38;
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
    line-height: 1.6;
    ont-size: 125%;

}

.feature-number{
	font-weight: bold;
}


/*d3 charts*/

.axis path,
.axis line {
  fill: none;
  stroke: #B0B89A;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #C1E856;
  stroke-width: 2px;
}

.axis text{
font-family: 'Michroma', sans-serif;
fill: #B0B89A;
  font-size: 10px;
}

.bar rect {
  fill: #B0B89A;
  shape-rendering: crispEdges;
  fill-opacity: 0;
}

.bar text {
  fill: #B0B89A;
  fill: Black;
  fill-opacity: 0;
}

.bar.info rect, .bar.info text{

  fill-opacity: 0.5;

}


.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 50px 0 20px 50px;
	height: 100vh;
}



.active {
	background: #25aae1;
}
.end {
	margin: 0;
}

.s1 {
  background: rgba(187, 214, 51, 0.38);
}
.s2 {
  background: rgba(203, 208, 179, 0.56);
}
.s3 {
 /* background: rgba(170, 204, 0, 0.56);*/
}